<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeTalk</title>

    <!-- Soho css -->
    <link rel="stylesheet" href="/static/css/soho.min.css">
</head>
<body>

<!-- page loading -->
<div class="page-loading"></div>
<!-- ./ page loading -->

<!-- disconnected modal -->
<div class="modal fade" id="disconnected" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
        <div class="modal-content">
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-lg">Reconnect</button>
            </div>
        </div>
    </div>
</div>
<!-- ./ disconnected modal -->

<!-- call modal -->
<div class="modal call fade" id="call" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="call">
                    <div class="call-background" style="background: url(/static/media/img/call-bg.png)"></div>
                    <div>
                        <figure class="mb-4 avatar avatar-xl">
                            <img src="/static/media/img/women_avatar1.jpg" class="rounded-circle">
                        </figure>
                        <h4 class="text-center">Jennica Kindred呼叫。。。</h4>
                        <div class="action-button">
                            <button type="button" class="btn btn-danger btn-floating btn-lg" data-dismiss="modal">
                                <i class="ti-close"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-pulse btn-floating btn-lg">
                                <i class="fa fa-phone"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./ call modal -->

<!-- 添加好友对话框 -->
<div class="modal fade" id="addFriends" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="ti-user"></i> 添加好友
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">向朋友发送邀请</div>
                <form method="post" action="{% url 'add_friend' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="emails" class="col-form-label">邮箱地址</label>
                        <input type="text" class="form-control" id="emails" name="email">
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-form-label">验证信息</label>
                        <textarea class="form-control" id="message" name="message"></textarea>
                    </div>
                    <div>
                        <button type="submit">发送好友请求</button>
                    </div>
                </form>
            </div>
            {#            <div class="modal-footer">#}
            {#                <button type="button" class="btn btn-primary">发送</button>#}
            {#            </div>#}
        </div>
    </div>
</div>

<!-- 新的好友对话框 -->
<div class="modal fade" id="newFriendMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="ti-user"></i> 添加好友
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <!-- friend_requests.html -->
                <h2>待处理的好友请求</h2>
                <ul>
                    {% for request_item in pending_requests %}
                        <li>
                            <strong>发送者:</strong> {{ request_item.get_from_user_username }}
                            

                            <img src="{{ request_item.get_from_user_avatar.url }}" alt="{{ request_item.get_from_user_username }}的头像"
                                     width="64">
                            <form method="post" action="{% url 'accept_friend' %}" >
                                {% csrf_token %}
                                 <input type="hidden" name="user_from_id" value="{{ request_item.user_from_id }}">  
                                <input type="hidden" name="user_to_id" value="{{ request_item.user_to_id }}"> 
                                <input type="submit" value="接受">
                            </form>
                            <form method="post" >
                                {% csrf_token %}
                                <input type="submit" value="拒绝">
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- 编辑个人信息 -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="ti-pencil"></i> 个人信息
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#personal" role="tab"
                           aria-controls="personal" aria-selected="true">个人信息</a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="personal" role="tabpanel">
                        <form>
                            <div class="form-group">
                                <label for="fullname" class="col-form-label">昵称</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ti-user"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" id="fullname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">头像</label>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <figure class="avatar mr-3 item-rtl">
                                            <img src="/static/media/img/man_avatar3.jpg" class="rounded-circle">
                                        </figure>
                                    </div>
                                    <div class="custom-file">
                                        <form form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <input type="file" id="fileInput" name="fileInput">
                                            <button type="button" onclick="uploadFile()">上传文件</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city" class="col-form-label">地区</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ti-map-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" id="city">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-form-label">手机</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ti-mobile"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" id="phone" placeholder="123 4567 8901">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="about-text" class="col-form-label">个性签名</label>
                                <textarea class="form-control" id="about-text"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>


<!-- layout -->
<div class="layout">

    <!-- navigation -->
    <nav class="navigation">
        <div class="nav-group">
            <ul>
                <li>
                    <a class="logo" href="#">
                        {#                        <img src="/static/media/img/man_avatar3.jpg" id="myImage">#}
                        {% load static %}
                        <!-- 显示用户头像 -->
{#                        <h1>Avatar value: {{ current_user.avatar }}</h1>  #}
                            <img src="{{ current_user.avatar.url }}" alt="User Avatar" class="avatar">
           
{#                            <img src="{% static '/media/img/default_avatar.png' %}" alt="Default Avatar" class="avatar">#}
      
                    </a>
                </li>
                <li>
                    <a data-navigation-target="chats" class="active" href="#">
                        <i class="ti-comment-alt"></i>
                    </a>
                </li>
                <li>
                    <a data-navigation-target="friends" href="#" class="notifiy_badge">
                        <i class="ti-user"></i>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#editProfileModal">
                        <i class="ti-pencil"></i>
                    </a>
                </li>
                <li>
                    <a href="/login">
                        <i class="ti-power-off"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- ./ navigation -->

    <!-- content -->
    <div class="content">

        <!-- sidebar group -->
        <div class="sidebar-group">

            <!-- Chats sidebar -->
            <div id="chats" class="sidebar active">
                <header>
                    <span>聊天</span>
                </header>
                <form action="">
                    <input type="text" class="form-control" placeholder="搜索聊天">
                </form>
                <div class="sidebar-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item open-chat">
                            <figure class="avatar">
                                <img src="/static/media/img/man_avatar1.jpg" class="rounded-circle">
                            </figure>
                            <div class="users-list-body">
                                <h5>张三</h5>
                                <p>床前明月光</p>
                                <div class="users-list-action action-toggle">
                                    <div class="dropdown">
                                        <a data-toggle="dropdown" href="#">
                                            <i class="ti-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item">发消息</a>
                                            <a href="#" class="dropdown-item">删除好友</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item open-chat">
                            <div>
                                <figure class="avatar">
                                    <img src="/static/media/img/man_avatar3.jpg" class="rounded-circle">
                                </figure>
                            </div>
                            <div class="users-list-body">
                                <h5>李四</h5>
                                <p>疑是地上霜</p>
                                <div class="users-list-action action-toggle">
                                    <div class="dropdown">
                                        <a data-toggle="dropdown" href="#">
                                            <i class="ti-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item">发消息</a>
                                            <a href="#" class="dropdown-item">删除好友</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- ./ Chats sidebar -->

            <!-- Friends sidebar -->
            <div id="friends" class="sidebar">
                <header>
                    <span>联系人</span>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="btn btn-light" href="#" data-toggle="modal" data-target="#addFriends">
                                <i class="ti-plus btn-icon"></i> 添加好友
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-light" href="#" data-toggle="modal" data-target="#newFriendMenu">
                                <i class="ti-menu btn-icon"></i> 新的好友
                            </a>
                        </li>
                    </ul>
                </header>
                <form action="">
                    <input type="text" class="form-control" placeholder="搜索聊天">
                </form>
                <div class="sidebar-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div>
                                <figure class="avatar">
                                    <img src="/static/media/img/women_avatar5.jpg" class="rounded-circle">
                                </figure>
                            </div>
                            <div class="users-list-body">
                                <h5>孙九</h5>
                                <div class="users-list-action action-toggle">
                                    <div class="dropdown">
                                        <a data-toggle="dropdown" href="#">
                                            <i class="ti-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item">发消息</a>
                                            <a href="#" class="dropdown-item">删除好友</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- ./ sidebar group -->

        <!-- chat -->
        <div class="chat">
            <div class="chat-header">
                <div class="chat-header-user">
                    <figure class="avatar avatar-lg">
                        <img src="/static/media/img/man_avatar3.jpg" class="rounded-circle">
                    </figure>
                    <div>
                        <h5>钱一</h5>
                        <small class="text-muted">
                            <i>在线</i>
                        </small>
                    </div>
                </div>
                <div class="chat-header-action">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-success">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-secondary">
                                <i class="fa fa-video-camera" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-secondary" data-toggle="dropdown">
                                <i class="ti-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">删除好友</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">黑名单</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chat-body"> <!-- .no-message -->
                <div class="messages">
                    <div class="message-item outgoing-message">
                        <div class="message-content">
                            你好，我在等你发文件给我
                        </div>
                        <div class="message-action">
                            09:34 <i class="ti-double-check"></i>
                        </div>
                    </div>
                    <div class="message-item">
                        <div class="message-content">
                            抱歉，现在我把文件发给你
                        </div>
                        <div class="message-action">
                            14:20
                        </div>
                    </div>
                    <div class="message-item outgoing-message">
                        <div class="message-content">
                            好的，谢谢
                        </div>
                        <div class="message-action">
                            14:25 <i class="ti-double-check"></i>
                        </div>
                    </div>
                    <div class="message-item">
                        <div class="message-content">
                            我现在发给你
                        </div>
                        <div class="message-action">
                            14:20
                        </div>
                    </div>
                    <div class="message-item">
                        <div class="message-content message-file">
                            <div class="file-icon">
                                <i class="ti-file"></i>
                            </div>
                            <div>
                                <div>文档.pdf <i class="text-muted small">(50KB)</i></div>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#">下载</a></li>
                                    <li class="list-inline-item"><a href="#">预览</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="message-action">
                            14:25
                        </div>
                    </div>
                    <div class="message-item outgoing-message">
                        <div class="message-content">
                            非常感谢
                        </div>
                        <div class="message-action">
                            14:50 <i title="Message could not be sent" class="ti-info-alt text-danger"></i>
                        </div>
                    </div>
                    <div class="message-item">
                        <div class="message-content">
                            我等不及了
                        </div>
                        <div class="message-action">
                            15:00
                        </div>
                    </div>
                    <div class="message-item outgoing-message">
                        <div class="message-content">
                            我会尽快
                        </div>
                        <div class="message-action">
                            14:50 <i class="ti-double-check"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-footer">
                <form action="">
                    <input type="text" class="form-control" placeholder="Recipient's username"
                           aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="form-buttons">
                        <button class="btn btn-light btn-floating" type="button">
                            <i class="fa fa-paperclip"></i>
                        </button>
                        <button class="btn btn-light btn-floating" type="button">
                            <i class="fa fa-microphone"></i>
                        </button>
                        <button class="btn btn-primary btn-floating" type="submit">
                            <i class="fa fa-send"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- ./ chat -->


    </div>
    <!-- ./ content -->

</div>
<!-- ./ layout -->

<!-- JQuery -->
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>

<!-- Popper.js -->
<script src="/static/js/popper.min.js"></script>

<!-- Bootstrap -->
<script src="/static/js/bootstrap.min.js"></script>

<!-- Nicescroll -->
<script src="/static/js/jquery.nicescroll.min.js"></script>

<!-- Soho -->
<script src="/static/js/soho.min.js"></script>

<script>
    function uploadFile() {
        // 假设你有一个文件输入元素
        var fileInput = document.getElementById('fileInput');
        var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

// 创建FormData对象
        var formData = new FormData();
        formData.append('file', fileInput.files[0]);

// 发送Ajax请求
        var xhr = new XMLHttpRequest();
        console.log(csrfToken);

        xhr.open('POST', '/upload_file/', true);
        xhr.setRequestHeader('X-CSRFToken', csrfToken);
        xhr.onload = function () {
            if (xhr.status === 200) {
                // 请求成功处理
                var response = JSON.parse(xhr.responseText);
                if (response.success) {
                    alert('文件上传成功，ID为: ' + response.id);
                } else {
                    alert('文件上传失败: ' + response.error);
                }
            } else {
                // 请求失败处理
                alert('请求失败');
            }
        };
        xhr.send(formData);
        // 调用上面定义的Ajax代码
        // ...
    }
</script>
</body>
</html>
