<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeTalk</title>
    <link rel="stylesheet" href="/static/css/soho.min.css">
</head>
<body>
<!-- page loading -->
<div class="page-loading"></div>
<!-- disconnected modal -->
<div class="modal fade" id="disconnected" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
        <div class="modal-content">
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-lg">Reconnect</button>
            </div>
        </div>
    </div>
</div>
<!-- ./ disconnected modal -->
<!-- call modal -->
<div class="modal call fade" id="call" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="call">
                    <div class="call-background" style="background: url(/static/media/img/call-bg.png)"></div>
                    <div>
                        <figure class="mb-4 avatar avatar-xl">
                            <img src="/static/media/img/women_avatar1.jpg" class="rounded-circle">
                        </figure>
                        <h4 class="text-center">Jennica Kindred呼叫。。。</h4>
                        <div class="action-button">
                            <button type="button" class="btn btn-danger btn-floating btn-lg" data-dismiss="modal">
                                <i class="ti-close"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-pulse btn-floating btn-lg">
                                <i class="fa fa-phone"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./ call modal -->

<!-- 添加好友对话框 -->
<div class="modal fade" id="addFriends" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="ti-user"></i> 添加好友
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">向朋友发送邀请</div>
                <form method="post" action="{% url 'add_friend' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="emails" class="col-form-label">邮箱地址</label>
                        <input type="text" class="form-control" id="emails" name="email">
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-form-label">验证信息</label>
                        <textarea class="form-control" id="message" name="message"></textarea>
                    </div>
                    <div>
                        <button type="submit">发送好友请求</button>
                    </div>
                </form>
            </div>
            {#            <div class="modal-footer">#}
            {#                <button type="button" class="btn btn-primary">发送</button>#}
            {#            </div>#}
        </div>
    </div>
</div>

<!-- 新的好友对话框 -->
<div class="modal fade" id="newFriendMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="ti-user"></i> 添加好友
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <!-- friend_requests.html -->
                <h2>待处理的好友请求</h2>
                <ul>
                    {% for request_item in pending_requests %}
                        <li>
                            <strong>发送者:</strong> {{ request_item.get_from_user_username }}
                            <img src="{{ request_item.get_from_user_avatar.url }}"
                                 alt="{{ request_item.get_from_user_username }}的头像"
                                 width="64">
                            <form method="post" action="{% url 'accept_friend' %}">
                                {% csrf_token %}
                                <input type="hidden" name="user_from_id" value="{{ request_item.user_from_id }}">
                                <input type="hidden" name="user_to_id" value="{{ request_item.user_to_id }}">
                                <input type="submit" value="接受">
                            </form>
                            <form method="post">
                                {% csrf_token %}
                                <input type="submit" value="拒绝">
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- 编辑个人信息 -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="ti-pencil"></i> 个人信息
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#personal" role="tab"
                           aria-controls="personal" aria-selected="true">个人信息</a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="personal" role="tabpanel">
                        <form>
                            <div class="form-group">
                                <label for="fullname" class="col-form-label">昵称</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ti-user"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" id="fullname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">头像</label>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <figure class="avatar mr-3 item-rtl">
                                            <img src="/static/media/img/man_avatar3.jpg" class="rounded-circle">
                                        </figure>
                                    </div>
                                    <div class="custom-file">
                                        <form form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <input type="file" id="fileInput" name="fileInput">
                                            <button type="button" onclick="uploadFile()">上传文件</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city" class="col-form-label">地区</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ti-map-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" id="city">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-form-label">手机</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ti-mobile"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" id="phone" placeholder="123 4567 8901">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="about-text" class="col-form-label">个性签名</label>
                                <textarea class="form-control" id="about-text"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>


<!-- layout -->
<div class="layout">

    <!-- navigation -->
    <nav class="navigation">
        <div class="nav-group">
            <ul>
                <li>
                    <a class="logo" href="#">
                        {#                        <img src="/static/media/img/man_avatar3.jpg" id="myImage">#}
                        {% load static %}
                        <!-- 显示用户头像 -->
                        {#                        <h1>Avatar value: {{ current_user.avatar }}</h1>  #}
                        <img src="{{ current_user.avatar.url }}" alt="User Avatar" class="avatar">

                        {#                            <img src="{% static '/media/img/default_avatar.png' %}" alt="Default Avatar" class="avatar">#}
                    </a>
                </li>
                <li>
                    <a data-navigation-target="friends" href="#" class="notifiy_badge">
                        <i class="ti-user"></i>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#editProfileModal">
                        <i class="ti-pencil"></i>
                    </a>
                </li>
                <li>
                    <a href="/login">
                        <i class="ti-power-off"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- ./ navigation -->

    <!-- 聊天列表 -->
    <div class="content">
        <!-- sidebar group -->
        <div class="sidebar-group">
            <!-- Friends sidebar -->
            <div id="friends" class="sidebar">
                <header>
                    <span>好友</span>
                    <ul class="list-inline">

                        <li class="list-inline-item">
                            <a class="btn btn-light" href="#" data-toggle="modal" data-target="#addFriends">
                                <i class="ti-plus btn-icon"></i> 添加好友
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-light" href="#" data-toggle="modal" data-target="#newFriendMenu">
                                <i class="ti-menu btn-icon"></i> 新的好友
                            </a>
                        </li>
                    </ul>
                </header>
                <form action="">
                    <input type="text" class="form-control" placeholder="搜索聊天">
                </form>
                <div class="sidebar-body">
                    <ul class="list-group list-group-flush" id="myList111">
                        {% for user in friends %}
                            <li class="list-group-item" data-modal="modal123">
                                <div>
                                    <figure class="avatar">
                                        {% if user.get_from_user_username == current_user.username %}
                                            <img src="{{ user.get_to_user_avatar.url }}" data-modal="modal123"
                                                 class="rounded-circle">
                                        {% else %}
                                            <img src="{{ user.get_from_user_avatar.url }}" data-modal="modal123"
                                                 class="rounded-circle">
                                        {% endif %}
                                    </figure>
                                </div>
                                <div class="users-list-body">
                                    {% if user.get_from_user_username == current_user.username %}
                                        <h5 data-modal="modal123">{{ user.get_to_user_username }} </h5>
                                    {% else %}
                                        <h5 data-modal="modal123">{{ user.get_from_user_username }} </h5>
                                    {% endif %}
                                    <div class="users-list-action action-toggle">
                                        <div class="dropdown">
                                            <a data-toggle="dropdown" href="#">
                                                <i class="ti-more"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item"
                                                   data-navigation-target="chats">发消息</a>
                                                <a href="#" class="dropdown-item">删除好友</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- 聊天框 -->
        <div class="chat" id="modal123">
            <div class="chat-header">
                <div class="chat-header-user">
                    <figure class="avatar avatar-lg">
                        <img id="img11111" src="/static/media/img/man_avatar3.jpg" class="rounded-circle">
                    </figure>
                    <div>
                        <h5 id="h511111">钱一</h5>
                    </div>
                </div>
                <div class="chat-header-action">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-success" id="showCallModal1">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-secondary">
                                <i class="fa fa-video-camera" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn btn-secondary" data-toggle="dropdown">
                                <i class="ti-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">删除好友</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">黑名单</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chat-body" id="chat_123"> <!-- message -->
                <div class="messages">
                    {% for message in messages %}
                        <div class="message-item outgoing-message">
                            <div class="message-content">
                                {{ message.content }}
                            </div>
                            <div class="message-action">
                                {{ message.timestamp }}
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="chat-footer">
                <input id="chat-message-input" type="text" class="form-control" placeholder="Recipient's username"
                       aria-label="Recipient's username" aria-describedby="button-addon2">
                <input id="chat-message-submit" type="button" value="Send">
                <div class="form-buttons">
                    <button class="btn btn-light btn-floating" type="button">
                        <i class="fa fa-paperclip"></i>
                    </button>
                    <button class="btn btn-light btn-floating" type="button">
                        <i class="fa fa-microphone"></i>
                    </button>
                    <button class="btn btn-primary btn-floating" type="submit">
                        <i class="fa fa-send"></i>
                    </button>
                </div>


            </div>
        </div>
    </div>
</div>

{#调用通话弹窗#}


<!-- JQuery -->
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>

<!-- Popper.js -->
<script src="/static/js/popper.min.js"></script>

<!-- Bootstrap -->
<script src="/static/js/bootstrap.min.js"></script>

<!-- Soho -->
<script src="/static/js/soho.min.js"></script>
<script>
		// 显示通话窗口
        // 绑定点击事件以显示模态窗口
        $('#showCallModal1').click(function() {
            $('#call').modal('show');
        });
</script>
{## 新建连接的同时进行监听#}
<script>  <!-- 开始JavaScript脚本 -->
// 解析从模板传递过来的房间名称JSON数据
{#const roomName = JSON.parse(document.getElementById('room-name').textContent);#}
const roomName = "123"
// 创建一个WebSocket连接，连接到服务器上的聊天室WebSocket端点
const ws = new WebSocket(
    'ws://'  // WebSocket协议
    + window.location.host  // 当前页面的主机和端口
    + '/ws/chat/'  // WebSocket端点的路径前缀
    + roomName  // 房间名称，作为路径的一部分
    + '/'  // 路径结束
);
    window.onload = function () {
        ws.onmessage = function (event) {
            const data = JSON.parse(event.data);
            // 在这里，你可以更新DOM以显示新消息
            var sender_username = data.sender_username
            var receiver_username = data.receiver_username
            var messagesContainer = document.querySelector('.messages');
            var messageItem = document.createElement('div');
            messageItem.className = 'message-item outgoing-message';
            var messageContent = document.createElement('div');
            messageContent.className = 'message-content';
            messageContent.textContent = data.message;
            var messageAction = document.createElement('div');
            messageAction.className = 'message-action';
            messageAction.textContent = "message.timestamp";
            messageItem.appendChild(messageContent);
            messageItem.appendChild(messageAction);
            messagesContainer.appendChild(messageItem);
            console.log(data.message)
            var chatElement = document.getElementById('chat_123');
    if (chatElement) {
        chatElement.scrollTop = chatElement.scrollHeight;
    }

        };
    };


// 当WebSocket连接关闭时，打印错误信息到控制台
ws.onclose = function (e) {
    console.error('Chat socket closed unexpectedly');
};

// 当页面加载时，将焦点自动设置到消息输入框
document.querySelector('#chat-message-input').focus();

// 当用户在消息输入框中按下键盘上的键时，执行以下函数
document.querySelector('#chat-message-input').onkeyup = function (e) {
    // 检查按下的键是否是回车键
    if (e.key === 'Enter') {
        // 如果是回车键，则模拟点击"Send"按钮
        document.querySelector('#chat-message-submit').click();
    }
};

// 当用户点击"Send"按钮时，执行以下函数
document.querySelector('#chat-message-submit').onclick = function (e) {
    // 获取输入框中的消息内容
    const messageInputDom = document.querySelector('#chat-message-input');
    const message = messageInputDom.value;
    messageInputDom.value = '';
    console.log(message)
    var sender_username = "{{ current_user.username|escapejs }}";
    var receiver_username = document.getElementById('h511111').innerText;
    // 通过WebSocket发送消息到服务器
    ws.send(JSON.stringify({
        'message': message,  // 消息内容作为JSON对象的一部分发送
        'sender_username': sender_username,
        'receiver_username': receiver_username,
    }));
    // 发送请求
    var chatElement = document.getElementById('chat_123');
    chatElement.scrollTop = chatElement.scrollHeight;
};
</script>

{#打开对话框显示聊天框并刷新历史信息#}
<script>
    document.getElementById('myList111').addEventListener('click', function (event) {
        var target = event.target;
        if (event.target.matches('.list-group-item') || event.target.closest('.list-group-item')) {
            var modalId = target.getAttribute('data-modal');
            var $li = $(this); // 获取被点击的 li 标签的 jQuery 对象
            var h5Text = $li.find('h5').text(); // 获取 <h5> 标签的文本内容
            var imgSrc = $li.find('img').attr('src'); // 获取 <img> 标签的 src 属性
            var modal = document.getElementById(modalId);

            // 隐藏所有模态框
            document.querySelectorAll('.modal').forEach(function (modal) {
                modal.style.display = 'none';
            });

            // 显示被点击的模态框
            if (modal) {
                modal.style.display = 'flex';
                var chatElement = document.getElementById('chat_123');
                if (chatElement) {
                    chatElement.style.display = 'flex';
                    chatElement.style.overflow = 'auto';
                    // 延迟执行，确保DOM更新和其他操作已经完成

                }
                // 假设modal是一个已经获取到的DOM元素
                var modalH5 = document.getElementById('h511111');
                var modalimg = document.getElementById('img11111');
                modalH5.textContent = h5Text

                modalimg.src = imgSrc;
                var sender_username = "{{ current_user.username|escapejs }}";
                var receiver_username = document.getElementById('h511111').innerText;
                // 清空输入框，以便输入下一条消息
                var url = 'chat/history/' + encodeURIComponent(sender_username) + '/' + encodeURIComponent(receiver_username);
                // 创建XMLHttpRequest对象  
                var xhr = new XMLHttpRequest();
                // 打开请求  
                xhr.open('GET', url, true);
                // 设置请求完成后的回调函数  
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        // 请求成功，处理响应  
                        console.log(xhr.responseText);
                        // 解析JSON文本为JavaScript对象数组  
                        const messages = JSON.parse(xhr.responseText);
// 获取包含消息的div元素  
                        const messagesDiv = document.querySelector('.messages');
// 清空messagesDiv的内容  
                        messagesDiv.innerHTML = '';
// 遍历消息数组  
                        messages.forEach(message => {
                            // 创建新的消息项div  
                            const messageItemDiv = document.createElement('div');
                            messageItemDiv.className = 'message-item outgoing-message';
                            // 创建消息内容div  
                            const messageContentDiv = document.createElement('div');
                            messageContentDiv.className = 'message-content';
                            messageContentDiv.textContent = message.content; // 设置文本内容  
                            // 创建消息动作div  
                            const messageActionDiv = document.createElement('div');
                            messageActionDiv.className = 'message-action';
                            messageActionDiv.textContent = message.timestamp; // 设置文本内容  
                            // 将消息内容和动作div添加到消息项div中  
                            messageItemDiv.appendChild(messageContentDiv);
                            messageItemDiv.appendChild(messageActionDiv);
                            // 将消息项div添加到messagesDiv中  
                            messagesDiv.appendChild(messageItemDiv);
                        });
                        chatElement.scrollTop = chatElement.scrollHeight;

                    } else {
                        // 请求失败，处理错误  
                        console.error('Request failed. Status:', xhr.status);
                    }
                };

                // 发送请求  
                xhr.send();
            }


        }
    });

</script>

<script>
// 上传头像
    function uploadFile() {
        // 假设你有一个文件输入元素
        var fileInput = document.getElementById('fileInput');
        var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

// 创建FormData对象
        var formData = new FormData();
        formData.append('file', fileInput.files[0]);

// 发送Ajax请求
        var xhr = new XMLHttpRequest();
        console.log(csrfToken);

        xhr.open('POST', '/upload_file/', true);
        xhr.setRequestHeader('X-CSRFToken', csrfToken);
        xhr.onload = function () {
            if (xhr.status === 200) {
                // 请求成功处理
                var response = JSON.parse(xhr.responseText);
                if (response.success) {
                    alert('文件上传成功，ID为: ' + response.id);
                } else {
                    alert('文件上传失败: ' + response.error);
                }
            } else {
                // 请求失败处理
                alert('请求失败');
            }
        };
        xhr.send(formData);
        // 调用上面定义的Ajax代码
        // ...
    }
</script>
</body>
</html>